<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    	<class name ="testcases.Schw15r2dw003_Testcases"/>
 		<class name ="testcases.LoginPage_Testcases"/>
		<class name ="testcases.HomePage_Testcases"/>
		<class name ="testcases.ResultPage_Testcases"/>
		<class name ="testcases.ChartsPage_Testcases"/>
		<class name ="testcases.ReportPage_Testcases"/>
 		   
    		
		      
    </classes> 
    </test> <!-- Test -->
</suite> <!-- Suite -->
